body {
  background-color: rgb(215, 215, 213);
}

form {
  width: 300px;
  margin: 0 auto;
  padding: 50px;
  background-color: rgb(219, 105, 105);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
}
label {
  margin-bottom: 5px;
}
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
}
#results {
  margin-top: 20px;
}

#results p {
  text-align: center;
  background-color: rgb(54, 48, 48);
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}
